<% title "Task: #{@task.summary}" %>

<h1><%= yield(:title) %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Deadline:</b>
  <%= @task.deadline %>
</p>

<p>
  <b>Complete:</b>
  <%= @task.complete %>
</p>

<ul class="options">
	<li><%= link_to 'Edit', edit_task_path(@task) %></li>
	<li><%= render 'shared/destroy_task', :task => @task %></li>
</ul>