<% title "Task: #{@task.summary}" %>

<article>
	<% if !notice.nil? %>
		<section id="notices">
			<p class="notice"><%= notice %></p>
		</section>	
	<% end %>
	<h1 class="summary"><%= yield(:title) %></h1>
	<section class="details">
		<section class="deadline">
			<h1>Deadline</h1>
			<p><%= @task.deadline.strftime("%A %d %b %Y, %H:%M") %></p>
		</section>
		<section class="status">
			<h1>Status</h1>
			<p><%= yesno(@task.complete?) %></p>
		</section>				
	</section>
	<section class="options">
		<h1>Options</h1>
		<ul>
			<li><%= link_to 'Edit', edit_task_path(@task) %></li>
			<li><%= render 'shared/destroy_task', :task => @task %></li>
		</ul>
	</section>
</article>