<table>
	<thead>
	  <tr>
	    <th>Summary</th>
	    <% if (show_created_at) %><th>Created</th><% end %>
	    <th>Deadline</th>
	    <% if (show_status) %><th>Complete</th><% end %>
	    <th colspan="3">Options</th>    
	  </tr>
	 </thead>
	<tbody>
		<% @tasks.each do |task| %>
		  <tr>
		    <td><%= link_to task.summary, task %></td>
		    <% if (show_created_at) %><td><%= task.created_at.strftime("%d %b %Y, %H:%M") %></td><% end %>
		    <td><%= task.deadline.strftime("%d %b %Y, %H:%M") %></td>
		    <% if (show_status) %><td><%= yesno(task.complete?) %></td><% end %>
		    <td><%= link_to 'View', task %></td>
		    <td><%= link_to 'Edit', edit_task_path(task) %></td>
		    <td><%= render 'shared/destroy_task', :task => @task %></td>
		  </tr>
		<% end %>	
	</tbody>
</table>