<table>
  <tr>
    <th>Summary</th>
    <th>Created</th>
    <th>Deadline</th>
    <th>Complete</th>
    <th colspan="3">Options</th>    
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= link_to task.summary, task %></td>
    <td><%= task.created_at %></td>
    <td><%= task.deadline %></td>
    <td><%= task.complete %></td>
    <td><%= link_to 'View', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= render 'shared/destroy_task', :task => @task %></td>
  </tr>
<% end %>
</table>