<table class="tasks">
	<thead>
	  <tr>
	    <th class="summary">Summary</th>
	    <% if (show_created_at) %><th class="created">Created</th><% end %>
	    <th class="deadline">Deadline</th>
	    <% if (show_status) %><th class="status">Complete</th><% end %>
	    <th colspan="3" class="options">Options</th>    
	  </tr>
	 </thead>
	<tbody>
		<% @tasks.each do |task| %>
		  <tr>
		    <td class="summary"><%= link_to task.summary, task %></td>
		    <% if (show_created_at) %><td class="created"><%= task.created_at.strftime("%d %b %Y, %H:%M") %></td><% end %>
		    <td class="deadline"><%= task.deadline.strftime("%d %b %Y, %H:%M") %></td>
		    <% if (show_status) %><td class="status"><%= yesno(task.complete?) %></td><% end %>
		    <td class="option"><%= link_to 'Edit', edit_task_path(task) %></td>
		    <td class="option"><%= render 'shared/destroy_task', :task => @task %></td>
		  </tr>
		<% end %>	
	</tbody>
</table>